<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bryanrady.ui">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activity.BasePaintCanvasActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.BaseDrawActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.DrawCircleProgressBarActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.measure_layout.MeasureLayoutActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.measure_layout.AspectImageActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.measure_layout.FlowLayoutActivity"
            android:theme="@style/AppTheme"/>


        <activity android:name=".activity.paint.PaintActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.PaintShadersActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.BitmapShadersActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.LinerGradientActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.RadialGradientActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.SweepGradientActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.ComposeShadersActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.ZoomImageViewActivity"
            android:theme="@style/AppTheme"/>


        <activity android:name=".activity.paint.PaintXfermodeActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.Xfermode16Activity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.Xfermode_SRCActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.Xfermode_DSTActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.Xfermode_OtherActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.paint.PaintFilterActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.MaskFilterActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.BlurMaskFilterActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.EmbossMaskFilterActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.ColorFilterActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.MatrixColorFilterActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.ColorFilterAlphaActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.ColorFilterTranslateActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.ColorFilterMuliptyActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.ColorFilterRotationActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.ColorFilterTousheActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.ManyFilterActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.ColorMatrixFilterOtherActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.LightingColorFilterActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.paint.PorterDuffColorFilterActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.canvas.CanvasActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.canvas.CanvasTransferActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.canvas.CanvasClipActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.canvas.CanvasClipPathActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.canvas.CanvasClipRectActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.canvas.CanvasClipPathRoundImageActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.canvas.CanvasSaveRestoreActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.canvas.CanvasRevealDrawableActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.canvas.CanvasSearchViewActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.path.PathActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.PathBaseActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.PathXxxToActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.PathAddXxxActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.PathFillTypeActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.PathOpActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.bezier.PathBezierActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.bezier.PathBezierBaseActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.bezier.PathBezierAdvancedActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.bezier.PathBezierDragBubbleActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.bezier.PathBezierWaveActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.bezier.PathBezierRubbshActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.bezier.PathBezierGarbageActivity"
            android:theme="@style/AppTheme"/>


        <activity android:name=".activity.path.path_measure.PathMeasureActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.path_measure.PathMeasureBaseActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.path_measure.PathMeasureCircleRotateActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.path_measure.PathMeasureFaceLoadingActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.path_measure.PathMeasureLoadingActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.path.path_measure.PathMeasureWaveActivity"
            android:theme="@style/AppTheme"/>


        <activity android:name=".activity.screen.ScreenMatchActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.event.DispatchEventActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.typeArray.TypeArrayActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.typeArray.TypeArrayCustomTextActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.typeArray.TypeArrayDoubleImageActivity"
            android:theme="@style/AppTheme"/>


        <activity android:name=".activity.animation.AnimationActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.animation.TweenAnimationActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.animation.TweenTranslateActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.animation.TweenScaleActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.animation.TweenRotateActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.animation.TweenAlphaActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.animation.TweenSetActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.animation.FrameAnimationActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.animation.ObjectorAnimatorActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.svg.SvgActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.svg.SvgChinaMapActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.svg.SvgSearchAnimatorActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.svg.SvgPluginVectorDrawableActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".activity.recycler.RecyclerViewActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.recycler.LinearLayoutRecyclerViewActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.recycler.GridLayoutRecyclerViewActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.recycler.StaggeredGridRecyclerViewActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.recycler.CardLayoutManagerActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.recycler.SlideDeleteRecyclerViewActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.recycler.DragSwitchRecyclerViewActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.recycler.QQSlideRecyclerViewActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.recycler.PullRefreshRecyclerViewActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>